.container-home {
  height: 100vh;
  width: 100%;
  background-color: #1c5d99;
  overflow: hidden;
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1c5d99;
  box-shadow: 0px 6px 8px 1px #174e81;
  height: 75px;
  text-align: center;
  width: 100%;
}

ul {
  list-style: none;
}

#navbar > ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
}

#navbar ul > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

#navbar > ul > ul > li > .mainnav-btn {
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 90px;
  box-shadow: 0px 6px 8px 1px #616060;
  color: #ffffff;
  font-size: 30px;
  font-family: "stencil";
  background-color: #9c7178;
  border: none;
  cursor: pointer;
}

#navbar > ul > ul > li > .mainnav-btn:hover {
  background-color: #a47d83;
  color: #ffffff;
}

#navbar > ul > ul > li > .sec-btn {
  width: 200px;
  height: 40px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 90px;
  box-shadow: 0px 6px 8px 1px #616060;
  color: #ffffff;
  font-size: 30px;
  font-family: "stencil";
  background-color: #44a1a0;
  border: none;
  cursor: pointer;
}

#navbar > ul > ul > li > .sec-btn:hover {
  background-color: #4db1b0;
  color: #ffffff;
}
